<div class="Activity Activity--type-detail">
    <div class="Navigator">
        <button ng-click="goBack()"
                ng-disabled="currentRequesting"
                class="Navigator__backBtn">
            <img src="../assets/images/back_icon.png" />
        </button>
        <div class="Navigator__title">
            <span>{{ (routeState.current.data.title === null) ? '불러오는 중...' : routeState.current.data.title }}</span>
        </div>
    </div>

    <div ui-view="container" class="Container Container--is-notScroll"></div>
</div>
